<!DOCTYPE html>
<html ng-app="notesApp">
    <head>
        <title>Notes App</title>
    </head>
    <body ng-controller="MainController as ctrl">        
        <div>
            <select ng-model="ctrl.selectedCountryId"
                    ng-options="c.id as c.label for c in ctrl.countries">
            </select>
            Selected Country ID: {{ctrl.selectedCountryId}}
        </div>
        <br>
        <div>
            <select ng-model="ctrl.selectedCountry"
                    ng-options="c.label for c in ctrl.countries">
            </select>
            Selected Country: {{ctrl.selectedCountry}}
            Name: {{ctrl.selectedCountry.label}}
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script type="text/javascript">
            angular.module('notesApp',[])
                .controller("MainController", [function(){
                    var self = this;
                    self.countries = [
                        {label:'United States of America', id:1},
                        {label:'Brazil', id:2},
                        {label:'Argentina', id:3},
                        {label:'India', id:4}
                    ];
                    self.selectedCountryId = 2;
                    self.selectedCountry = self.countries[1];
                }]);
        </script>
    </body>
</html>