<html>
    <head>
        <title>Stock Market App</title>
    </head>
    <body ng-app="stockMarketApp">
        <div ng-controller="MainCtrl as mainCtrl">
            <h5>List of Stocks (directive as attribute)</h5>
            <div ng-repeat="stock in mainCtrl.stocks">
                <div stock-widget></div>
            </div>
            <br>
            <h5>List of Stocks (directive as element)</h5>
            <div ng-repeat="stock in mainCtrl.stocks">
                <stock-widget></stock-widget>
            </div>
        </div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src="37_directive_app.js"></script>
        <script src="37_directive_directive.js"></script>
    </body>
</html>